*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}
.game{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gameBoard {
    margin-top: 20px;
    background-color: white;
    border: 2px solid orangered;
}

.info {
    display: flex;
    margin-top: 50px;
}

.score {
    margin-right: 100px;
    display: block;
    color: white;
    font-size: 40px;
}

.bestScore {
    display: block;
    color: white;
    font-size: 40px;
}

#resetBtn {
    margin-top: 30px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: orangered;
    border: 2px solid white;
    color: white;
}

#resetBtn:hover {
    background-color: rgb(187, 50, 0);
    cursor: pointer;
}

.mode {
    display: flex;
    margin-top: 40px;
}

.mode .btn{
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
}

.mode .btn:hover{
    cursor: pointer;
}

.mode .active {
    background-color: green;
}

.icon {
    position: absolute;
    margin-top: 85vh;
    margin-left: 1vw;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.icon:hover {
    margin-top: 89vh;
}